{{ .chezmoi.destDir }}{{ .chezmoi.pathSeparator }}code{{ .chezmoi.pathSeparator }}github{{ .chezmoi.pathSeparator }}personal{{ .chezmoi.pathSeparator }}cskills{{ .chezmoi.pathSeparator }}go{{ .chezmoi.pathSeparator }}skills{{ .chezmoi.pathSeparator }}implement-task
