layout {
  default_tab_template {
      children
      pane size=1 borderless=true {
          plugin location="compact-bar"
      }
  }
  tab name="scratch" {
    pane split_direction="vertical" {
      pane 
      pane 
    }
  }
  tab name="go" {
    pane split_direction="vertical" {
      pane cwd="~/code/github/synadia/control-plane/go/cp-server" { }
      pane cwd="~/code/github/synadia/control-plane/go/synadia-cloud" { }
    }
  }
  tab name="ts" {
    pane split_direction="vertical" {
      pane cwd="~/code/github/synadia/control-plane/ts/cp-ui" { }
      pane cwd="~/code/github/synadia/control-plane/ts/synadia-cloud" { }
    }
  }
}
ui {
  pane_frames {
    rounded_corners false
    hide_session_name true
  }
}
plugins {
  compact-bar location="zellij:compact-bar" {
    // hides tooltip unless we toggle it on with F1
    tooltip "F1"
  }
}
load_plugins {}

default_layout "compact-bar"
copy_command "pbcopy"
copy_clipboard "system"
styled_underlines true
default_mode "normal"
theme "kanagawa"
